.category-page-title {
  height: 102px;
  width: 100%;
  background-color: #f8f8f8;
}

.bread-crumbs-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.bread-crumbs-link {
  text-decoration: none;
  display: flex;
}

.bread-crumbs-current,
.bread-crumbs,
.share-text {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #121212;
}

.bread-crumbs,
.share-text {
  opacity: 0.6;
  text-transform: capitalize;
  margin-right: auto;
}

.bread-crumbs-current {
  margin-right: auto;
}

.bread-crumbs-arrow {
  margin: 0 6px;
  line-height: 20px;
  padding-bottom: 2px;
}

.share-block {
  display: flex;
  align-items: center;
}

.share-text {
  margin-left: 8px;
}

.category-types-title {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.filter-block {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.6;
}

.filter,
.view-list,
.bestsellers {
  display: flex;
  align-items: center;
}

.filter-img {
  margin-right: 16px;
}

.view-list-icon {
  margin-right: 32px;
}

.bestsellers-icon {
  margin-left: 4px;
}

.filter-color {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.filter_opened {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 24px 42px 22px;
  margin-bottom: 10px;
}

.color-item {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.color-circle {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 8px;
}

.color-scroll {
  width: 3px;
  height: 240px;
  background: #e6e6e6;
  position: relative;
}

.color-scroll::after {
  content: "";
  width: 3px;
  height: 105px;
  position: absolute;
  background-color: #8d8b8b;
  top: 78px;
}

.facet-item {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-bottom: 20px;
}

.filter-color-inner {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.filter-color-block {
  display: flex;
  flex-direction: column;
}

.facet-title {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  margin: 0;
  margin-right: 18px;
  margin-bottom: 12px;
}

.facet-name,
.color-text {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 34px;
  color: #121212;
  opacity: 0.8;
}

.facet-chackbox {
  margin-right: 8px;
}

input[type="checkbox"] {
  background: #ffffff;
}

.product-title {
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #121212;
  margin: 0;
  padding-top: 11px;
}

.product-description {
  display: flex;
  justify-content: space-between;
}

.item-sku {
  margin-left: auto;
}

.item-availability {
  margin-left: 24px;
}

.product-description-item {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #121212;
  opacity: 0.6;
}

.product-description-item-value {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 18px;
  text-align: right;
  color: #121212;
}

.product-stars,
.product-description-item {
  margin-right: 6px;
}

@media (max-width: 1000px) {
  .category__page-inner {
    margin-bottom: 100px;
  }
}

@media (max-width: 780px) {
  .filter-color-block {
    margin-right: 50px;
  }
}

@media (max-width: 670px) {
  .facet-item {
    width: 120px;
  }

  .filter_opened {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }

  .category-page-title {
    margin-top: 30px;
  }

  .category__page-inner {
    margin-bottom: 80px;
  }
}

@media (max-width: 400px) {
  .category-page-title {
    margin-bottom: 20px;
  }

  .product-title {
    font-size: 20px;
  }
}
