.product__slider-inner {
  display: flex;
  max-height: 540px;
  position: relative;
}

.product__slider-mini {
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-top: 30px;
}

.swiper-container {
  width: 600px;
  height: 100px;
  margin-bottom: 50px;
}

.product__slider-big .swiper {
  max-width: 468px;
  max-height: 545px;
  display: flex;
  position: relative;
}

.product__slider-big .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  margin-left: 30px;
}

.product__slider-big .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  margin-right: 30px;
}

.product__slider-big .swiper-button-prev::after {
  content: url(./img/arrow.svg);
  transform: rotate(-90deg);
  position: absolute;
  right: 12px;
}

.product__slider-big .swiper-button-next::after {
  content: url(./img/arrow.svg);
  transform: rotate(90deg);
  position: absolute;
  right: 6px;
}

.swiper-button-lock {
  display: block !important;
}

.slider-arrows {
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  top: -11px;
}
.slider-mini-arrow-prev {
  cursor: pointer;
}

.slider-mini-arrow-prev img {
  transform: rotate(-90deg);
}

.slider-mini-arrow-next img {
  transform: rotate(90deg);
}

.swiper-button-disabled {
  cursor: auto;
  filter: opacity(0.4);
}

.product-vertical-swiper .swiper-slide {
  padding-top: 16px;
  height: 180px !important;
}

.product-vertical-swiper .swiper-button-prev::after {
  content: url(./img/arrow.svg);
  transform: rotate(-90deg);
  position: absolute;
}

.product-vertical-swiper .swiper-button-next::after {
  content: url(./img/arrow.svg);
  transform: rotate(90deg);
  position: absolute;
}

.product-vertical-swiper .swiper-button-disabled {
  cursor: auto;
  filter: opacity(1);
}

.product__slider {
  display: flex;
  flex-direction: column;

  margin: 0 16px;
}

.arrow-left {
  transform: rotate(270deg);
}

.arrow-right {
  transform: rotate(90deg);
}

.product-slider-arrows {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  top: 20%;
}

.slider-img-preview {
  margin-top: 16px;
  width: 114px;

}

.slider-arrows {
  display: flex;
  justify-content: space-between;
  row-gap: 14px;
  cursor: pointer;
  width: 100%;
  padding: 0 30px;
  position: absolute;
  top: 50%;
}

.arrow-down {
  transform: rotate(180deg);
}

.product-vertical-swiper {
  height: 100%;
  width: 100%;
}

.activepreview {
  filter: opacity(0.4);
}

#nextButton {
  margin-right: 10px;
}

.arrows-vertical {
  display: flex;
  position: absolute;
  z-index: 100;
  justify-content: space-between;
}

#previousButton img {
  transform: rotate(-180deg);
}

@media (max-width: 540px) {
  .product__slider-inner {
    flex-direction: column;
  }
  .product__slider-mini {
    flex-direction: row;
    width: 400px;
    height: 200px;
    order: 2;
    padding-top: 30px;
    margin: 0 auto;
  }

  .arrows-vertical {
    top: 556px;
  }
}

@media (max-width: 480px) {
  .slider-arrows {
    top: 50%;
  }

  .product-slider-arrows {
    top: 36%;
  }

  .product__slider-big {
    width: 380px;
  }

  .product-vertical-swiper .slider-arrows img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .product__slider-mini {
    flex-direction: row;
    width: 300px;
    height: 200px;
    order: 2;
    padding-top: 30px;
    margin: 0 auto;
  }

  .product__slider-mini {
    width: 300px;
    height: 200px;
  }

  .arrows-vertical {
    top: 508px;
  }
}

@media (max-width: 360px) {
  .product__slider-big {
    width: 320px;
  }

  .arrows-vertical {
    top: 376px;
  }

  .product__slider-mini {
    flex-direction: row;
    width: 300px;
    height: 200px;
    order: 2;
    padding-top: 30px;
    margin: 0 auto;
  }

}
