.main__category-inner {
  background: #fefefe;
}

.category-inner-nav-list {
  display: flex;
  list-style: none;
}

.category-inner-nav-list a {
  font-family: "Spartan", sans-serif;
  text-decoration: none;
  color: #121212;
  opacity: 0.6;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.06em;
  margin-left: 32px;
  text-transform: uppercase;
}

.category-title {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}

.main__category-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 12px;
  gap: 24px;
}

.menu-item {
  text-decoration: none;
}

/* card style */

.main__category-card {
  max-width: 255px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 18px;
}
.main__category-cards a {
  text-decoration: none;
  color: #121212;
}

.main__category-cards a:active {
  text-decoration: none;
  color: #121212;
}

.category-card-title {
  font-family: "Spartan", sans-serif;
  padding-top: 16px;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  opacity: 0.6;
}

.category-card-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.category-card-price {
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  margin-right: 4px;
}

.category-card-old-price {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  text-decoration-line: line-through;
  color: #121212;
  opacity: 0.4;
  margin-right: auto;
}

.category-card-discount {
  width: 54px;
  height: 32px;
  background-color: #e91e63;
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* card style */

.main__category-text {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.8;
}

@media (max-width: 980px) {
  .main__category-cards {
    justify-content: space-around;
  }
}

@media (max-width: 700px) {
  .category-inner-nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .category-inner-nav-list a {
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {
  .category-inner-nav-list {
    gap: 12px;
  }
}
