.header__top {
  height: 24px;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-contacts,
.header__top-social {
  display: flex;
  list-style: none;
}

.header__top-contacts li {
  margin-right: 30px;
  display: flex;
  font-size: 11px;
  width: 160px;
  font-family: "Inter", sans-serif;
}

.contacts-icon {
  margin-right: 12px;
}

.header__top-contacts li img {
  margin-right: 10px;
}

.social-icon-header {
  width: 12px;
}

.social-icon-link {
  margin-left: 12px;
}

.header__main {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__items,
.header__nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav__items {
  width: 586px;
  justify-content: flex-start;
}

.nav__items a {
  text-decoration: none;
}

.nav__item {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  margin-right: 28px;
}

.header__nav-icons-link {
  margin-left: 24px;
}

.shopping-bag {
  position: relative;
  
}

.shopping-bag::after {
  content: "";
  color: #ffffff;
  font-size: 9px;
  font-weight: 700;
  line-height: 14px;
  position: absolute;
  background-color: #121212;
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #ffffff;
  bottom: 12px;
  right: 12px;
  left: 12px;

}

.social-icon-link {
  cursor: pointer;
}

.header__nav-icons-link {
  cursor: pointer;
}

.count__products {
  color: #ffffff;
  font-size: 9px;
  font-weight: 700;
  line-height: 14px;
  position: absolute;
  right: -2px;
  bottom: 16px;
  z-index: 5;

}

@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 10px;
  }

  .header__top {
    padding-left: 70px;
    padding-right: 116px;
    margin: 0 auto;
  }

  .nav__items {
    flex-wrap: wrap;
    padding-top: 16px;
  }

  .nav__items li {
    margin-bottom: 10px;
  }

  .header__main {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (max-width: 1130px) {
  .container {
    max-width: 1130px;
    padding: 0 10px;
  }
}

@media (max-width: 1039px) {
  .container {
    max-width: 1039px;
    padding: 0 10px;
  }

  .header-nav-logo {
    margin-right: 20px;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 980px;
    padding: 0 10px;
  }

  .header__main {
    padding-right: 40px;
    padding-left: 40px;
    flex-wrap: wrap;
    height: 60px;
    justify-content: center;
    
  }

  .nav__items li {
    margin-bottom: 30px;
    font-size: 16px;

  }

  .menu {
    order: 3;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: 780px;
    padding: 0 10px;
  }

  .header__main {
    padding-right: 40px;
    padding-left: 40px;
    flex-wrap: wrap;
    height: 60px;
    justify-content: center;
  }

  .menu {
    order: 3;
  }
  .header__top {
    padding-right: 26px;
    flex-wrap: wrap;
    height: 70px;
    justify-content: center;
    margin-bottom: 10px;
  }

  .header__top-social,
  .header__top-contacts {
    margin: 0;
  }

  .social-icon-link {
    margin-left: 6px;
  }
}

@media (max-width: 613px) {
  .container {
    max-width: 613px;
    padding: 0 10px;
  }

}
@media (max-width: 600px) {
  .container {
    max-width: 600px;
    padding: 0 10px;
  }

  .header__main {
    height: 44px;
  }
  .nav__items {
    flex-direction: column;
    max-width: 400px;
  }
  .header__top {
    height: 120px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .header__top-contacts {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}


@media (max-width: 536px) {
  .container {
    max-width: 536px;
    padding: 0 10px;
  }

  .header__main {
    padding-right: 20px;
    padding-left: 20px;
    flex-wrap: nowrap;
    height: 45px;
    justify-content: space-between;
  }

  .menu {
    order: 3;
  }
}


@media (max-width: 500px) {
  .container {
    max-width: 500px;
    padding: 0 10px;
  }
  .header__main {
    height: 44px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 420px;
    padding: 0 10px;
  }
  .nav__items {
    flex-direction: column;
    max-width: 300px;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 360px;
    padding: 0 10px;
  }

  .nav__items {
    flex-direction: column;
    max-width: 250px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }
}
