.modal-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.4);
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.modal-content {
  width: 700px;
  height: 700px;
  background-color: #fff;
  margin: auto;
  border-radius: 6%;
  text-align: center;
  padding-top: 60px;
}

.rewiew__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-name-input,
.review-text-input {
  width: 480px;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 15px;
}

.review-text-input {
  height: 200px;
  padding-top: 15px;
  margin-top: 30px;
  resize: none;
}

.review-name-input::placeholder,
.review-text-input::placeholder {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #121212;
  opacity: 0.7;
}

.rating-area {
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 30px;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
  content: "★";
}

#star-1 ~ label{
  color: gold;
}

.rating-area > input:checked ~ label {
  color: gold;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
}

.close-form-btn {
  cursor: pointer;
  text-align: end;
  padding-right: 80px;
}

@media (max-width: 760px) {
  .modal-content {
    width: 540px;
  }
  .review-name-input,
  .review-text-input {
    width: 360px;
  }
}

@media (max-width: 580px) {
  .modal-content {
    width: 440px;
  }
  .review-name-input,
  .review-text-input {
    width: 360px;
  }
}

@media (max-width: 440px) {
  .modal-content {
    width: 360px;
    border-radius: 0%;
  }
  .review-name-input,
  .review-text-input {
    width: 320px;
  }
}
