.main-photo-block-inner {
  display: flex;
}

.swiper-slide-wrapper {
  position: relative;
  max-width: 540px;
  display: flex;
  align-items: center;
}
.main-photo-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 540px;
}

.main__slider-block-top {
  padding-top: 32px;
}

.main-slider {
  max-width: 540px;
  display: flex;
  align-items: center;
}

.main-slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 24px;
}

.arrows {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right {
  transform: rotate(180deg);
}

.slider-banner {
  width: 290px;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  cursor: pointer;
}

.banner-text-top {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  color: #121212;
  opacity: 0.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.banner-text-title {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}

.banner-text-title-mini,
.banner-text-title-big {
  position: absolute;
  background-color: #fff;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.banner-text-title-mini {
  width: 118px;
  height: 48px;
}

.banner-text-title-big {
  width: 166px;
  height: 48px;
}

.main-photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-block {
  margin-left: 30px;
}

.main-photo-first {
  margin-right: 30px;
  margin-bottom: 30px;
}

.main-photo-second {
  margin-bottom: 30px;
}

.main-slider .swiper {
  display: flex;
  align-items: center;
}

.main-slider .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  margin-left: 20px;
}

.main-slider .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  right: 0;
  margin-right: 20px;
}

.main-slider .swiper-button-prev::after {
  content: url(./img/left-arrow.svg);
  position: absolute;
  bottom: 6px;
  left: 14px;
}

.main-slider .swiper-button-next::after {
  content: url(./img/left-arrow.svg);
  transform: rotate(180deg);
  position: absolute;
  top: 6px;
  left: 16px;
}

.main-slider .swiper-button-disabled {
  background-color: #f1f1f1;
  cursor: auto;
}

@media (max-width: 1130px) {
  .main-photo-block {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 440px;
    justify-content: center;
  }

  img {
    max-width: 100%;
  }

  .main-photo-first {
    margin: 0;
  }

  .main-photo-second {
    margin: 0;
  }

  .main-photo-block-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 1039px) {
  .main-photo-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 540px;
  }

  .header-nav-logo {
    margin-right: 20px;
  }
}
@media (max-width: 780px) {
  .swiper-slide-wrapper {
    max-width: 440px;
  }
  .main-photo-block {
    max-width: 440px;
  }

  .main-slider {
    max-width: 440px;
  }
}

@media (max-width: 590px) {
  .main-photo-block {
    max-width: 540px;
  }

  .header-nav-logo {
    margin-right: 20px;
  }
  .slider-banner {
    width: 230px;
  }
  .banner-text-title {
    font-size: 18px;
  }
}

@media (max-width: 440px) {
  .swiper-slide-wrapper {
    max-width: 320px;
  }
  .main-photo-block {
    max-width: 320px;
  }

  .main-slider {
    max-width: 320px;
  }

  .slider-banner {
    width: 200px;
  }
  .banner-text-title {
    font-size: 16px;
  }
  .main-slider .swiper-button-prev {
    margin-left: 10px;
  }
  .main-slider .swiper-button-next {
    margin-right: 10px;
  }
}
