.cart-full-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 18px 24px 24px;
  padding-top: 18px;
  justify-content: space-between;
  padding-bottom: 24px;
}

.cart__bread-crumbs {
  display: flex;
  /* margin-bottom: 22px; */
}

.cart__bread-crumbs-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #e6e6e6;
}

.cart__bread-crumb-active {
  color: #121212;
}

.cart-crumbs-separator {
  margin-right: 6px;
  margin-left: 6px;
}

.cart-full-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 340px;
}

.cart-btns {
  position: absolute;
  bottom: 10px;
}

.cart-total-price-title {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #121212;
}

.cart-total-price-price {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}

.cart-items {
  max-height: 560px;
}

.cartItemsScroll {
  overflow-y: scroll;
}

@media (max-height: 870px) {
  .cart-items {
    max-height: 460px;
    overflow-y: scroll;
    
  }
}

@media (max-height: 754px) {
  .cart-items {
    max-height: 400px;
    overflow-y: scroll;
  }
}

@media (max-height: 708px) {
  .cart-items {
    max-height: 360px;
  }
}

@media (max-height: 675px) {
  .cart-items {
    max-height: 300px;
  }
}

@media (max-height: 608px) {
  .cart-items {
    max-height: 260px;
  }
}

@media (max-height: 573px) {
  .cart-items {
    max-height: 200px;
  }
}

@media (max-height: 501px) {
  .cart-items {
    max-height: 180px;
  }
}
@media (max-height: 495px) {
  .cart-items {
    max-height: 160px;
  }
}
